:root {
  --main-bg-colour:white;
  --additional-bg-colour: lightgray;
  --navbar-bg-colour: linear-gradient(124deg, rgba(52,58,64,1) 0%, rgba(82,82,82,1) 100%);
  --main-text-colour: black;
  --accent-colour: #444444;
  --highlight-colour: #999999;
  --code-bg-colour: #f8f8f8;
  --code-border-colour: #dfdfdf;
}

body {
  background-color: var(--main-bg-colour, white);
  color: var(--main-text-colour, black);
}

img {
  width: 100%;
  height: auto;
}

nav {
  z-index: 5;
  box-shadow: 0 0 2px 1px black;
  background: var(--navbar-bg-colour, linear-gradient(124deg, rgba(52,58,64,1) 0%, rgba(82,82,82,1) 100%));
}

.modal-content {
  background-color: var(--main-bg-colour, white);
}

.modal-header {
  border-bottom: 1px solid var(--accent-colour, #444444);
}

.modal-header button {
  color: var(--main-text-colour, black);
}

.modal-button {
  padding: 0.8rem;
  display: block;
  margin: 0;
}

.modal-button i {
  margin-right: 1.5rem;
}

.modal-button:hover {
  background-color: var(--highlight-colour, #999999);
  color: var(--main-text-colour, black);
  text-decoration: none;
}

.sidebar-card {
  border-top: 1px solid var(--accent-colour, #444444);
  width: 100%;
}

.sidebar-card-content {
  margin: 10px 0;
}

.sidebar-card-title {
  padding: 0.8rem;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.sidebar-card-title i {
  margin-right: 1rem;
}

.sidebar-card-title:hover {
  background-color: var(--highlight-colour, #999999);
  color: var(--main-text-colour, black);
  text-decoration: none;
}

#information .section {
  padding: 0.5rem 0.75rem;
  display: block;
  color: var(--accent-colour, #444444);
}

#main{
  min-height: 100vh;
}

#navigator {
  z-index: 3;
  width: 100%;
  background: var(--additional-bg-colour, lightgray);
  padding:0;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

#navigator .layer {
  border-left: 1px solid var(--accent-colour, #444444);
}

#navigator .document {
  color: var(--main-text-colour, black);
  text-decoration: none;
  background-color: transparent;
  display: block;
  padding: 5px 10px;
}

#navigator .folder {
  color: var(--main-text-colour: black);
  display: block;
  padding: 5px 10px;
}

#navigator .document:hover {
  color: var(--accent-colour, #444444);
}

#markdown-wrapper {
  max-width: 1000px;
}

#markdown {}

#markdown a {
 word-wrap: break-word;
 word-break: break-word;
 hyphens: auto;
}

#markdown table {
  background-color: var(--code-bg-colour, #f8f8f8);
  border: 1px solid var(--code-border-colour, #dfdfdf);
  color: var(--main-text-colour, black);
  margin-bottom: 1.25rem;
  table-layout: auto;
}

table tr th, table tr td {
  color: var(--accent-colour, #444444);
  font-size: 0.875rem;
  padding: 0.5rem 0.625rem 0.625rem
}

#markdown pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  background-color: var(--code-bg-colour, #f8f8f8);
  border: 1px solid var(--code-border-colour, #dfdfdf);
  color: var(--main-text-colour, black);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0.3125rem;
}

#markdown h1, #markdown h2, #markdown h3 {
  border-bottom: 2px solid darkgray;
}

#markdown h1, #markdown h2, #markdown h3, #markdown h4, #markdown h5, #markdown h6 {
  padding: 5px 0 5px 0;
  margin-bottom: 20px;
}
