img {
  width: 100%;
  height: auto;
}

nav {
  z-index: 5;
  box-shadow: 0 0 2px 1px black;
  background: linear-gradient(124deg, rgba(52,58,64,1) 0%, rgba(82,82,82,1) 100%);
}

.sidebar-card {
  background-color: white;
  box-shadow: 2px 2px 2px darkgray;
  max-width: 350px;
  margin: 20px auto;
}

#main{
  min-height: 100vh;
}

#navigator {
  z-index: 3;
  width: 100%;
  background: lightgray;
  box-shadow: 0 0 2px 1px darkgray;
  padding:0;
}

#navigator .layer {
  border-left: 3px solid black;
  padding: 10px;
}

#navigator .document {
  color: black;
  text-shadow: 1px 1px 1px darkgray;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  display: block;
}

#navigator .document:hover {
  color: #444444;
}

#markdown-wrapper {
  max-width: 1000px;
}

#markdown {}

#markdown pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  background-color: #f8f8f8;
  border: 1px solid #dfdfdf;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0.3125rem;
}

#markdown h1, #markdown h2, #markdown h3 {
  border-bottom: 2px solid darkgray;
}

#markdown h1, #markdown h2, #markdown h3, #markdown h4, #markdown h5, #markdown h6 {
  padding: 5px 0 5px 0;
  margin-bottom: 20px;
}
